.navbar-brand:hover {
  color: #554700; /* Cambia el color a azul */
}

.navbar-brand img:hover {
  filter: invert(1); /* Invierte los colores de la imagen */
  transition: 2s;
}
/*footer icons redes sociales*/
.nav-item:hover {
  color: #f3f3f3; /* Cambia el color a azul */
}

.nav-item img:hover {
  filter: invert(1); /* Invierte los colores de la imagen */
  transition: 2s;
}
